@charset "UTF-8";
/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/*! normalize.css v4.1.1 | MIT License | github.com/necolas/normalize.css */
/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Correct the line height in all browsers.
 * 3. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  line-height: 1.15;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 3 */
  -webkit-text-size-adjust: 100%;
  /* 3 */ }

/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  /* 1 */
  display: block; }

/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block; }

/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template,
[hidden] {
  display: none; }

/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */ }

/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */ }

/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit; }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000; }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none; }

/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px; }

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/* Forms
   ========================================================================== */
/**
 * 1. Change font properties to `inherit` in all browsers (opinionated).
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold; }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */ }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Correct the text style of placeholders in Chrome, Edge, and Safari.
 */
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

@font-face {
  font-family: nypl-moon;
  src: url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.eot?viik85");
  src: url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.eot?viik85#iefix") format("embedded-opentype"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.woff2?viik85") format("woff2"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.ttf?viik85") format("truetype"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.woff?viik85") format("woff"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.svg?viik85#nypl-moon") format("svg");
  font-weight: 400;
  font-style: normal; }
a {
  border-radius: 0; }

a:focus {
  outline-color: #ffb81d;
  outline-style: solid;
  outline-width: 0.1875rem; }

input {
  border-radius: 0; }

input:focus {
  outline-color: #ffb81d;
  outline-style: solid;
  outline-width: 0.1875rem; }

select {
  border-radius: 0; }

select:focus {
  outline-color: #ffb81d;
  outline-style: solid;
  outline-width: 0.1875rem; }

button {
  border-radius: 0; }

button:focus {
  outline-color: #ffb81d;
  outline-style: solid;
  outline-width: 0.1875rem; }

body {
  color: #080807; }

html {
  background-color: #fff;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.65;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-filter: none;
  filter: none; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 1.5rem; }

h1 {
  font-size: 2.6rem;
  line-height: 1; }

h2 {
  font-size: 1.6rem; }

h3 {
  font-size: 1.4rem; }

p {
  margin-top: 0.25rem;
  margin-bottom: 1rem; }

h4 {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 0; }

ul {
  margin-bottom: 1.5rem;
  margin-top: 0;
  padding: 0; }

li {
  margin-left: 1.5rem; }

code,
pre {
  background-color: #d7d4d0;
  font-family: Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace; }

code {
  padding-left: 0.25em;
  padding-right: 0.25em; }

strong {
  font-weight: bold; }

legend {
  display: table; }

a {
  text-decoration: underline; }
  a:link {
    color: #1b7fa7; }
  a:visited {
    color: #145e7b; }
  a:hover, a:visited:hover {
    color: #22a0d3;
    text-decoration: none; }
  a.inverted:link {
    color: #fff; }
  a.inverted:visited {
    color: #e6e6e6; }
  a.inverted:hover, a.inverted:visited:hover {
    color: #fff; }

#skip a {
  background-color: #fff;
  border: 0;
  color: #1b7fa7;
  display: block;
  font-size: 13px;
  height: 1px;
  left: -10000px;
  line-height: 2;
  overflow: hidden;
  padding: 5px 10px 3px;
  position: absolute;
  top: 7px;
  width: 1px;
  z-index: 1000; }
  #skip a:focus {
    border: 5px solid #1b7fa7;
    height: auto;
    left: 7px;
    outline: 0;
    overflow: visible;
    width: auto; }

.hidden {
  display: none; }

.centered {
  text-align: center; }

@font-face {
  font-family: nypl-moon;
  src: url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.eot?viik85");
  src: url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.eot?viik85#iefix") format("embedded-opentype"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.woff2?viik85") format("woff2"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.ttf?viik85") format("truetype"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.woff?viik85") format("woff"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.svg?viik85#nypl-moon") format("svg");
  font-weight: 400;
  font-style: normal; }
a {
  border-radius: 0; }

a:focus {
  outline-color: #ffb81d;
  outline-style: solid;
  outline-width: 0.1875rem; }

input {
  border-radius: 0; }

input:focus {
  outline-color: #ffb81d;
  outline-style: solid;
  outline-width: 0.1875rem; }

select {
  border-radius: 0; }

select:focus {
  outline-color: #ffb81d;
  outline-style: solid;
  outline-width: 0.1875rem; }

button {
  border-radius: 0; }

button:focus {
  outline-color: #ffb81d;
  outline-style: solid;
  outline-width: 0.1875rem; }

.nypl-header .horizontal {
  display: table-cell;
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative; }
  .nypl-header .horizontal::before, .nypl-header .horizontal::after {
    content: "";
    display: table; }
  .nypl-header .horizontal::after {
    clear: both; }
  @media (max-width: 965px) {
    .nypl-header .horizontal {
      float: none; } }
  .nypl-header .horizontal li {
    display: inline-block;
    margin-left: 0;
    margin-right: 0.35rem;
    vertical-align: bottom; }
    .nypl-header .horizontal li:last-child {
      margin-right: 0; }
.nypl-header .collapsed-menu-toggle,
.nypl-header .main-menu-toggle {
  display: none; }
@media (max-width: 965px) {
  .nypl-header .main-menu-toggle {
    background-color: #d0343a;
    color: #fff !important;
    display: block;
    font-size: 1.1rem;
    height: 2rem;
    margin: 0 -1rem;
    padding: 0 1rem 0.65rem 0;
    text-align: right;
    text-decoration: none; }
    .nypl-header .main-menu-toggle .nypl-icon {
      background-color: #d0343a;
      display: inline-block;
      fill: #fff;
      height: 1.5em;
      width: 1.5em;
      speak: none;
      position: relative;
      top: 0.4375rem; }
      .nypl-header .main-menu-toggle .nypl-icon.reversed {
        background-color: inherit;
        fill: #fff; } }
.nypl-header .logo {
  position: absolute;
  z-index: 1; }
  .nypl-header .logo::before, .nypl-header .logo::after {
    content: "";
    display: table; }
  .nypl-header .logo::after {
    clear: both; }
  @media (max-width: 965px) {
    .nypl-header .logo {
      float: none;
      margin: 1rem 0.5rem 1.5rem 0;
      position: relative;
      width: 2.81667rem; } }
.nypl-header .nypl-logo {
  border: 0;
  display: block;
  font-size: 0;
  height: 2.81667rem;
  margin-top: 1rem;
  margin-bottom: 0.1rem;
  width: 5rem; }
  .nypl-header .nypl-logo svg {
    height: 2.81667rem;
    width: 5rem; }
  @media (max-width: 965px) {
    .nypl-header .nypl-logo {
      margin: 0;
      margin-right: 0.5rem;
      width: 2.81667rem; }
      .nypl-header .nypl-logo .wordmark {
        display: none; } }
.nypl-header .content {
  position: relative; }
  .nypl-header .content::before, .nypl-header .content::after {
    content: "";
    display: table; }
  .nypl-header .content::after {
    clear: both; }
  @media (max-width: 965px) {
    .nypl-header .content {
      width: 100%; } }
.nypl-header .service {
  background-color: #d0343a;
  margin-bottom: 1rem; }
  @media (max-width: 965px) {
    .nypl-header .service {
      display: table-footer-group; } }
@media (max-width: 965px) {
  .nypl-header {
    display: table;
    width: 100%; } }
.nypl-header .nypl-full-width-wrapper {
  max-width: calc(82rem - (2rem));
  padding: 0 1rem;
  position: relative;
  margin: 0 auto; }
  .nypl-header .nypl-full-width-wrapper::before, .nypl-header .nypl-full-width-wrapper::after {
    content: "";
    display: table; }
  .nypl-header .nypl-full-width-wrapper::after {
    clear: both; }
  @media (max-width: 965px) {
    .nypl-header .nypl-full-width-wrapper {
      margin: 0; } }
.nypl-header.collapsed {
  border-bottom: 2px solid #d7d4d0;
  position: relative; }
  .nypl-header.collapsed.collapsed .login-toggle {
    right: 110px;
    top: 9px; }
    @media (max-width: 965px) {
      .nypl-header.collapsed.collapsed .login-toggle {
        font-size: 12px;
        top: -19px; }
        .nypl-header.collapsed.collapsed .login-toggle div {
          right: -100%; } }
  .nypl-header.collapsed .main-menu-toggle {
    display: none; }
  .nypl-header.collapsed .collapsed-menu-toggle {
    bottom: 0;
    color: #080807;
    display: block;
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    right: 1rem;
    text-transform: uppercase; }
  .nypl-header.collapsed .logo {
    height: 30px;
    overflow: hidden; }
  .nypl-header.collapsed .nypl-logo {
    background: url("../img/lion.svg") no-repeat scroll 0 0/2.81667rem auto #fff;
    background-position-y: -4px;
    margin: 0; }
  .nypl-header.collapsed .service-buttons {
    min-height: 10px; }
    .nypl-header.collapsed .service-buttons li {
      display: none; }
  .nypl-header.collapsed .nav-buttons {
    font-size: 0;
    font-weight: bold;
    height: 30px;
    margin-top: 0;
    text-transform: uppercase; }
    .nypl-header.collapsed .nav-buttons li {
      box-shadow: none; }
    .nypl-header.collapsed .nav-buttons a {
      padding: 0.1rem 0.4rem; }
    .nypl-header.collapsed .nav-buttons .nypl-search {
      display: none; }
.nypl-header .service-buttons {
  font-size: 0.8rem;
  padding: 0;
  text-transform: uppercase; }
  @media (max-width: 965px) {
    .nypl-header .service-buttons {
      display: none;
      padding-top: 0.33rem;
      width: 100%; }
      .nypl-header .service-buttons li {
        border-bottom: 1px solid #fff;
        float: left;
        line-height: 2;
        margin: 0 0 0.33rem;
        width: 50%; } }
  .nypl-header .service-buttons li > a {
    background-color: #d0343a;
    border: 0 solid #776e64;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: normal;
    height: auto;
    padding: 0 0.5em;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    display: block;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap; }
    .nypl-header .service-buttons li > a:hover, .nypl-header .service-buttons li > a.active {
      border-color: #776e64;
      background-color: #fff;
      color: #776e64; }
    .nypl-header .service-buttons li > a:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    .nypl-header .service-buttons li > a.disabled, .nypl-header .service-buttons li > a[disabled="disabled"], .nypl-header .service-buttons li > a[disabled], .nypl-header .service-buttons li > a[disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      .nypl-header .service-buttons li > a.disabled:hover, .nypl-header .service-buttons li > a[disabled="disabled"]:hover, .nypl-header .service-buttons li > a[disabled]:hover, .nypl-header .service-buttons li > a[disabled=true]:hover {
        background-color: #d7d4d0;
        color: #fff; }
    .nypl-header .service-buttons li > a.donate {
      background-color: #d0343a;
      border: 0 solid #776e64;
      border-radius: 0;
      color: #fff;
      cursor: pointer;
      font-size: 0.8rem;
      font-weight: normal;
      height: auto;
      padding: 0 0.5em;
      text-decoration: none;
      white-space: nowrap;
      -webkit-transition: all 0.1s ease-in 0s;
      -moz-transition: all 0.1s ease-in 0s;
      -o-transition: all 0.1s ease-in 0s;
      transition: all 0.1s ease-in 0s;
      display: block;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      text-transform: uppercase;
      white-space: nowrap; }
      .nypl-header .service-buttons li > a.donate:hover, .nypl-header .service-buttons li > a.donate.active {
        border-color: #776e64;
        background-color: #fff;
        color: #776e64; }
      .nypl-header .service-buttons li > a.donate:focus {
        -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
        -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
        box-shadow: inset 0 0 0 0.125rem #ffb81d;
        outline: none; }
      .nypl-header .service-buttons li > a.donate.disabled, .nypl-header .service-buttons li > a.donate[disabled="disabled"], .nypl-header .service-buttons li > a.donate[disabled], .nypl-header .service-buttons li > a.donate[disabled=true] {
        cursor: default;
        background-color: #d7d4d0; }
        .nypl-header .service-buttons li > a.donate.disabled:hover, .nypl-header .service-buttons li > a.donate[disabled="disabled"]:hover, .nypl-header .service-buttons li > a.donate[disabled]:hover, .nypl-header .service-buttons li > a.donate[disabled=true]:hover {
          background-color: #d7d4d0;
          color: #fff; }
  .nypl-header .service-buttons button.collapsible {
    background-color: #d0343a;
    border: 0 solid #776e64;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: normal;
    height: auto;
    padding: 0 0.5em;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    position: relative;
    padding-right: 1.5em;
    text-align: left;
    display: block;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap; }
    .nypl-header .service-buttons button.collapsible .nypl-icon {
      background-color: #d0343a;
      display: inline-block;
      fill: #fff;
      height: 1em;
      width: 1em;
      speak: none;
      -webkit-transition: all 0.1s ease-in 0s;
      -moz-transition: all 0.1s ease-in 0s;
      -o-transition: all 0.1s ease-in 0s;
      transition: all 0.1s ease-in 0s;
      position: absolute;
      right: 0.25em;
      top: 0.4em; }
      .nypl-header .service-buttons button.collapsible .nypl-icon.reversed {
        background-color: inherit;
        fill: #fff; }
    .nypl-header .service-buttons button.collapsible:hover, .nypl-header .service-buttons button.collapsible.active {
      border-color: #776e64;
      background-color: #fff;
      color: #776e64; }
      .nypl-header .service-buttons button.collapsible:hover .nypl-icon, .nypl-header .service-buttons button.collapsible.active .nypl-icon {
        background-color: #fff;
        display: inline-block;
        fill: #776e64;
        height: 1em;
        width: 1em;
        speak: none; }
        .nypl-header .service-buttons button.collapsible:hover .nypl-icon.reversed, .nypl-header .service-buttons button.collapsible.active .nypl-icon.reversed {
          background-color: inherit;
          fill: #fff; }
    .nypl-header .service-buttons button.collapsible.active .nypl-icon {
      transform: scaleY(-1); }
    .nypl-header .service-buttons button.collapsible:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    .nypl-header .service-buttons button.collapsible.disabled, .nypl-header .service-buttons button.collapsible[disabled="disabled"], .nypl-header .service-buttons button.collapsible[disabled], .nypl-header .service-buttons button.collapsible[disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      .nypl-header .service-buttons button.collapsible.disabled:hover, .nypl-header .service-buttons button.collapsible[disabled="disabled"]:hover, .nypl-header .service-buttons button.collapsible[disabled]:hover, .nypl-header .service-buttons button.collapsible[disabled=true]:hover {
        background-color: #d7d4d0;
        color: #fff; }
.nypl-header .email-toggle {
  position: relative; }
  .nypl-header .email-toggle a::after {
    transition: all 0.1s; }
  .nypl-header .email-toggle a.active::after {
    transform: scaleY(-1); }
  .nypl-header .email-toggle .subscribe-button {
    background-color: #776e64;
    border: 0.0625rem solid #fff;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    height: auto;
    padding: 0.2rem 0.75rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s; }
    .nypl-header .email-toggle .subscribe-button:hover, .nypl-header .email-toggle .subscribe-button.active {
      border-color: #776e64;
      background-color: #fff;
      color: #776e64; }
    .nypl-header .email-toggle .subscribe-button:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    .nypl-header .email-toggle .subscribe-button.disabled, .nypl-header .email-toggle .subscribe-button[disabled="disabled"], .nypl-header .email-toggle .subscribe-button[disabled], .nypl-header .email-toggle .subscribe-button[disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      .nypl-header .email-toggle .subscribe-button.disabled:hover, .nypl-header .email-toggle .subscribe-button[disabled="disabled"]:hover, .nypl-header .email-toggle .subscribe-button[disabled]:hover, .nypl-header .email-toggle .subscribe-button[disabled=true]:hover {
        background-color: #d7d4d0;
        color: #fff; }
  .nypl-header .email-toggle form {
    background-color: #776e64;
    color: #fff;
    font-size: 1rem;
    min-width: 17rem;
    position: absolute;
    padding: 1rem;
    right: 0;
    text-transform: none;
    z-index: 1; }
    @media (max-width: 965px) {
      .nypl-header .email-toggle form {
        left: 0;
        right: auto; } }
  .nypl-header .email-toggle .email-toggle-title {
    font-size: 1.2rem;
    font-weight: bold;
    line-height: 1.5;
    margin: 0; }
  .nypl-header .email-toggle fieldset {
    border: 0;
    color: #080807;
    margin: 1rem 0 0.5em;
    padding: 0;
    position: relative; }
  .nypl-header .email-toggle label {
    display: block;
    font-weight: bold;
    margin-left: 0.5rem;
    position: absolute; }
  .nypl-header .email-toggle input[type=text] {
    background-color: #efedeb;
    border: 0;
    padding: 0;
    -webkit-box-shadow: inset 0 0 0 2px #efedeb;
    -moz-box-shadow: inset 0 0 0 2px #efedeb;
    box-shadow: inset 0 0 0 2px #efedeb;
    border-bottom: 0.0625rem solid #080807;
    height: 2rem;
    padding: 1.5rem 0 0;
    text-indent: 0.5rem;
    transition: all 0.2s ease-out;
    width: 100%; }
    .nypl-header .email-toggle input[type=text].active {
      width: 16rem; }
    .nypl-header .email-toggle input[type=text]:focus {
      background-color: #fff;
      -webkit-box-shadow: inset 0 0 0 4px #ffb81d;
      -moz-box-shadow: inset 0 0 0 4px #ffb81d;
      box-shadow: inset 0 0 0 4px #ffb81d;
      color: #080807;
      outline: none; }
  .nypl-header .email-toggle .links {
    margin: 1rem 0 0; }
.nypl-header .login-toggle {
  font-size: 0.8rem;
  position: absolute;
  right: 0;
  top: 1.5rem; }
  .nypl-header .login-toggle button {
    text-transform: uppercase; }
  .nypl-header .login-toggle div {
    background-color: #776e64;
    color: #fff;
    font-size: 1rem;
    padding: 1rem;
    padding-bottom: 0;
    position: absolute;
    right: 0;
    text-transform: none;
    z-index: 1; }
  .nypl-header .login-toggle a.inverted {
    display: block;
    margin-bottom: 1rem;
    white-space: nowrap; }
  .nypl-header .login-toggle .welcome-message {
    display: inline-block;
    margin-right: 1rem;
    text-transform: none; }
  .nypl-header .login-toggle > a,
  .nypl-header .login-toggle button.collapsible {
    background-color: #776e64;
    border: 0 solid #776e64;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: normal;
    height: auto;
    padding: 0 0.5em;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    position: relative;
    padding-right: 1.5em;
    text-align: left;
    display: block;
    font-weight: bold;
    text-transform: uppercase; }
    .nypl-header .login-toggle > a .nypl-icon,
    .nypl-header .login-toggle button.collapsible .nypl-icon {
      background-color: #776e64;
      display: inline-block;
      fill: #fff;
      height: 1em;
      width: 1em;
      speak: none;
      -webkit-transition: all 0.1s ease-in 0s;
      -moz-transition: all 0.1s ease-in 0s;
      -o-transition: all 0.1s ease-in 0s;
      transition: all 0.1s ease-in 0s;
      position: absolute;
      right: 0.25em;
      top: 0.4em; }
      .nypl-header .login-toggle > a .nypl-icon.reversed,
      .nypl-header .login-toggle button.collapsible .nypl-icon.reversed {
        background-color: inherit;
        fill: #fff; }
    .nypl-header .login-toggle > a:hover, .nypl-header .login-toggle > a.active,
    .nypl-header .login-toggle button.collapsible:hover,
    .nypl-header .login-toggle button.collapsible.active {
      border-color: #776e64;
      background-color: #fff;
      color: #776e64; }
      .nypl-header .login-toggle > a:hover .nypl-icon, .nypl-header .login-toggle > a.active .nypl-icon,
      .nypl-header .login-toggle button.collapsible:hover .nypl-icon,
      .nypl-header .login-toggle button.collapsible.active .nypl-icon {
        background-color: #fff;
        display: inline-block;
        fill: #776e64;
        height: 1em;
        width: 1em;
        speak: none; }
        .nypl-header .login-toggle > a:hover .nypl-icon.reversed, .nypl-header .login-toggle > a.active .nypl-icon.reversed,
        .nypl-header .login-toggle button.collapsible:hover .nypl-icon.reversed,
        .nypl-header .login-toggle button.collapsible.active .nypl-icon.reversed {
          background-color: inherit;
          fill: #fff; }
    .nypl-header .login-toggle > a.active .nypl-icon,
    .nypl-header .login-toggle button.collapsible.active .nypl-icon {
      transform: scaleY(-1); }
    .nypl-header .login-toggle > a:focus,
    .nypl-header .login-toggle button.collapsible:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    .nypl-header .login-toggle > a.disabled, .nypl-header .login-toggle > a[disabled="disabled"], .nypl-header .login-toggle > a[disabled], .nypl-header .login-toggle > a[disabled=true],
    .nypl-header .login-toggle button.collapsible.disabled,
    .nypl-header .login-toggle button.collapsible[disabled="disabled"],
    .nypl-header .login-toggle button.collapsible[disabled],
    .nypl-header .login-toggle button.collapsible[disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      .nypl-header .login-toggle > a.disabled:hover, .nypl-header .login-toggle > a[disabled="disabled"]:hover, .nypl-header .login-toggle > a[disabled]:hover, .nypl-header .login-toggle > a[disabled=true]:hover,
      .nypl-header .login-toggle button.collapsible.disabled:hover,
      .nypl-header .login-toggle button.collapsible[disabled="disabled"]:hover,
      .nypl-header .login-toggle button.collapsible[disabled]:hover,
      .nypl-header .login-toggle button.collapsible[disabled=true]:hover {
        background-color: #d7d4d0;
        color: #fff; }
    .nypl-header .login-toggle > a:link,
    .nypl-header .login-toggle button.collapsible:link {
      text-decoration: none; }
  @media (max-width: 965px) {
    .nypl-header .login-toggle {
      top: -3.3rem; }
      .nypl-header .login-toggle .welcome-message {
        display: none; } }
.nypl-header .nav-buttons {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-top: calc(2.81667rem + 2rem); }
  .nypl-header .nav-buttons::before, .nypl-header .nav-buttons::after {
    content: "";
    display: table; }
  .nypl-header .nav-buttons::after {
    clear: both; }
  @media (max-width: 1120px) {
    .nypl-header .nav-buttons {
      font-size: 0.9rem; } }
  @media (max-width: 965px) {
    .nypl-header .nav-buttons {
      display: none;
      font-size: 1.2rem;
      margin-top: 1rem; }
      .nypl-header .nav-buttons li {
        border-bottom: 1px solid #d7d4d0;
        float: left;
        height: auto;
        line-height: 2;
        margin: 0 0 0.33rem;
        width: 50%; }
        .nypl-header .nav-buttons li a {
          line-height: inherit; }
      .nypl-header .nav-buttons li.nypl-search {
        border: 0;
        font-size: 1rem;
        position: relative;
        right: initial;
        top: initial;
        width: 100%; } }
  .nypl-header .nav-buttons a {
    border: 0;
    color: #080807;
    display: block;
    line-height: 2.3;
    overflow: hidden;
    padding: 0.2rem 0.4rem;
    text-decoration: none;
    text-overflow: ellipsis;
    transition: all 0.1s;
    white-space: nowrap; }
    .nypl-header .nav-buttons a:hover {
      color: #d0343a; }
  .nypl-header .nav-buttons li {
    box-shadow: inset 0 0 0 #d0343a;
    transition: box-shadow 0.2s; }
  .nypl-header .nav-buttons li:hover,
  .nypl-header .nav-buttons li.active {
    box-shadow: inset 0 -4px 0 #d0343a; }
.nypl-header li.nypl-search .nypl-main-search {
  background-color: #d7d4d0;
  margin: 0;
  position: relative;
  -webkit-transition: all 0.1s ease-out 0s;
  -moz-transition: all 0.1s ease-out 0s;
  -o-transition: all 0.1s ease-out 0s;
  transition: all 0.1s ease-out 0s; }
  .nypl-header li.nypl-search .nypl-main-search .nypl-search-button {
    background-color: #1b7fa7;
    border: 0 solid #776e64;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: inherit;
    font-weight: normal;
    height: 2rem;
    padding: 0 0.75rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    margin-right: 0.5rem; }
    .nypl-header li.nypl-search .nypl-main-search .nypl-search-button:hover, .nypl-header li.nypl-search .nypl-main-search .nypl-search-button.active {
      border-color: #776e64;
      background-color: #efedeb;
      color: #776e64; }
    .nypl-header li.nypl-search .nypl-main-search .nypl-search-button:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    .nypl-header li.nypl-search .nypl-main-search .nypl-search-button.disabled, .nypl-header li.nypl-search .nypl-main-search .nypl-search-button[disabled="disabled"], .nypl-header li.nypl-search .nypl-main-search .nypl-search-button[disabled], .nypl-header li.nypl-search .nypl-main-search .nypl-search-button[disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      .nypl-header li.nypl-search .nypl-main-search .nypl-search-button.disabled:hover, .nypl-header li.nypl-search .nypl-main-search .nypl-search-button[disabled="disabled"]:hover, .nypl-header li.nypl-search .nypl-main-search .nypl-search-button[disabled]:hover, .nypl-header li.nypl-search .nypl-main-search .nypl-search-button[disabled=true]:hover {
        background-color: #d7d4d0;
        color: #fff; }
  .nypl-header li.nypl-search .nypl-main-search.display {
    display: block; }
  .nypl-header li.nypl-search .nypl-main-search.active {
    background-color: #776e64; }
  .nypl-header li.nypl-search .nypl-main-search .nypl-search-query-content {
    padding: 0.5rem;
    position: relative; }
  .nypl-header li.nypl-search .nypl-main-search .nypl-search-select {
    background-color: #776e64;
    font-size: 0.9rem;
    right: 0;
    padding: 0 0.5rem 0.5rem;
    position: absolute;
    top: 3rem;
    white-space: nowrap;
    z-index: 1; }
  .nypl-header li.nypl-search .nypl-main-search .nypl-search-radio-label {
    color: #efedeb;
    display: inline-block;
    height: 2rem;
    line-height: 2;
    padding: 0.25rem 0.75rem 0 0.5rem;
    -webkit-transition: all 0.1s ease-out 0s;
    -moz-transition: all 0.1s ease-out 0s;
    -o-transition: all 0.1s ease-out 0s;
    transition: all 0.1s ease-out 0s; }
    .nypl-header li.nypl-search .nypl-main-search .nypl-search-radio-label span.nypl-label {
      display: block;
      font-weight: bold;
      margin-left: 0.5rem; }
    .nypl-header li.nypl-search .nypl-main-search .nypl-search-radio-label label {
      background-color: #efedeb;
      font-weight: normal;
      padding: 0.1875rem 0; }
    .nypl-header li.nypl-search .nypl-main-search .nypl-search-radio-label input[type=radio],
    .nypl-header li.nypl-search .nypl-main-search .nypl-search-radio-label input[type=checkbox] {
      height: initial;
      margin-right: 0.25rem; }
    .nypl-header li.nypl-search .nypl-main-search .nypl-search-radio-label.selected {
      background-color: #efedeb;
      color: #080807; }
    .nypl-header li.nypl-search .nypl-main-search .nypl-search-radio-label.focus {
      box-shadow: inset 0 0 0 3px #ffb81d; }
  .nypl-header li.nypl-search .nypl-main-search input:focus {
    outline: none; }
  .nypl-header li.nypl-search .nypl-main-search .nypl-search-query-label {
    color: #fff;
    height: 2rem;
    left: 0.5rem;
    line-height: 2;
    position: absolute; }
  .nypl-header li.nypl-search .nypl-main-search .nypl-form-text {
    background-color: #efedeb;
    border: 0;
    padding: 0;
    height: 2rem;
    margin-right: 0;
    padding: 0;
    text-indent: 0.5rem;
    transition: all 0.1s ease-out;
    width: 10rem; }
    .nypl-header li.nypl-search .nypl-main-search .nypl-form-text.active {
      width: 16rem; }
    .nypl-header li.nypl-search .nypl-main-search .nypl-form-text:focus {
      background-color: #fff;
      box-shadow: inset 0 0 0 0.25rem #ffb81d;
      color: #776e64;
      outline: none; }
  @media (max-width: 965px) {
    .nypl-header li.nypl-search .nypl-main-search .nypl-form-text,
    .nypl-header li.nypl-search .nypl-main-search .nypl-search-button,
    .nypl-header li.nypl-search .nypl-main-search .nypl-search-radio-label {
      height: 2.5rem;
      line-height: 2.5; }
    .nypl-header li.nypl-search .nypl-main-search .nypl-form-text,
    .nypl-header li.nypl-search .nypl-main-search .nypl-form-text.active {
      margin: 0;
      width: 70%; }
    .nypl-header li.nypl-search .nypl-main-search .nypl-search-button {
      margin: 0;
      width: 30%; }
    .nypl-header li.nypl-search .nypl-main-search .nypl-search-select {
      top: 3.5rem; } }

@font-face {
  font-family: nypl-moon;
  src: url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.eot?viik85");
  src: url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.eot?viik85#iefix") format("embedded-opentype"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.woff2?viik85") format("woff2"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.ttf?viik85") format("truetype"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.woff?viik85") format("woff"), url("//d2znry4lg8s0tq.cloudfront.net/nypl-moon/nypl-moon.svg?viik85#nypl-moon") format("svg");
  font-weight: 400;
  font-style: normal; }
footer {
  background-color: #54514a;
  color: #fff;
  font-size: 0.9rem;
  margin-top: 5rem; }
  footer ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0; }
    footer ul::before, footer ul::after {
      content: "";
      display: table; }
    footer ul::after {
      clear: both; }

.copyright {
  background: url("../img/nypl-rev.svg") no-repeat scroll 0 0/5rem auto transparent;
  border: 0;
  display: block;
  height: 2.81667rem;
  margin-top: 2rem;
  margin-bottom: 5rem;
  white-space: nowrap; }
  .copyright p {
    padding-top: calc(2.81667rem + 1em); }

.footerLinks li {
  margin-left: 0; }
.footerLinks > li {
  float: left;
  width: 25%; }
  @media (max-width: 965px) {
    .footerLinks > li {
      float: none;
      width: auto; } }

.nypl-basic-button {
  background-color: #776e64;
  border: 0.0625rem solid #776e64;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  height: auto;
  padding: 0.2rem 0.75rem;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: all 0.1s ease-in 0s;
  -moz-transition: all 0.1s ease-in 0s;
  -o-transition: all 0.1s ease-in 0s;
  transition: all 0.1s ease-in 0s; }
  .nypl-basic-button:hover, .nypl-basic-button.active {
    border-color: #776e64;
    background-color: #fff;
    color: #776e64; }
  .nypl-basic-button:focus {
    -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
    -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
    box-shadow: inset 0 0 0 0.125rem #ffb81d;
    outline: none; }
  .nypl-basic-button.disabled, .nypl-basic-button[disabled="disabled"], .nypl-basic-button[disabled], .nypl-basic-button[disabled=true] {
    cursor: default;
    background-color: #d7d4d0; }
    .nypl-basic-button.disabled:hover, .nypl-basic-button[disabled="disabled"]:hover, .nypl-basic-button[disabled]:hover, .nypl-basic-button[disabled=true]:hover {
      background-color: #d7d4d0;
      color: #fff; }

.nypl-icon {
  background-color: #fff;
  display: inline-block;
  fill: #080807;
  height: 1rem;
  width: 1rem;
  speak: none; }
  .nypl-icon.reversed {
    background-color: inherit;
    fill: #fff; }

.nypl-request-button {
  background-color: #1b7fa7;
  border: 0.0625rem solid #1b7fa7;
  border-radius: 0.25rem;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  font-weight: normal;
  height: auto;
  padding: 0.2rem 0.75rem;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: all 0.1s ease-in 0s;
  -moz-transition: all 0.1s ease-in 0s;
  -o-transition: all 0.1s ease-in 0s;
  transition: all 0.1s ease-in 0s; }
  .nypl-request-button:hover, .nypl-request-button.active {
    border-color: #776e64;
    background-color: #fff;
    color: #776e64; }
  .nypl-request-button:focus {
    -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
    -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
    box-shadow: inset 0 0 0 0.125rem #ffb81d;
    outline: none; }
  .nypl-request-button.disabled, .nypl-request-button[disabled="disabled"], .nypl-request-button[disabled], .nypl-request-button[disabled=true] {
    cursor: default;
    background-color: #d7d4d0; }
    .nypl-request-button.disabled:hover, .nypl-request-button[disabled="disabled"]:hover, .nypl-request-button[disabled]:hover, .nypl-request-button[disabled=true]:hover {
      background-color: #d7d4d0;
      color: #fff; }
  .nypl-request-button:hover {
    background: #fff;
    border-color: #1b7fa7;
    color: #1b7fa7; }

.nypl-service-button {
  background-color: #d0343a;
  border: 0 solid #776e64;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: normal;
  height: auto;
  padding: 0 0.5em;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: all 0.1s ease-in 0s;
  -moz-transition: all 0.1s ease-in 0s;
  -o-transition: all 0.1s ease-in 0s;
  transition: all 0.1s ease-in 0s;
  display: block;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: uppercase;
  white-space: nowrap; }
  .nypl-service-button:hover, .nypl-service-button.active {
    border-color: #776e64;
    background-color: #fff;
    color: #776e64; }
  .nypl-service-button:focus {
    -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
    -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
    box-shadow: inset 0 0 0 0.125rem #ffb81d;
    outline: none; }
  .nypl-service-button.disabled, .nypl-service-button[disabled="disabled"], .nypl-service-button[disabled], .nypl-service-button[disabled=true] {
    cursor: default;
    background-color: #d7d4d0; }
    .nypl-service-button.disabled:hover, .nypl-service-button[disabled="disabled"]:hover, .nypl-service-button[disabled]:hover, .nypl-service-button[disabled=true]:hover {
      background-color: #d7d4d0;
      color: #fff; }

.nypl-login-button {
  background-color: #776e64;
  border: 0 solid #776e64;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: normal;
  height: auto;
  padding: 0 0.5em;
  text-decoration: none;
  white-space: nowrap;
  -webkit-transition: all 0.1s ease-in 0s;
  -moz-transition: all 0.1s ease-in 0s;
  -o-transition: all 0.1s ease-in 0s;
  transition: all 0.1s ease-in 0s;
  position: relative;
  padding-right: 1.5em;
  text-align: left;
  display: block;
  font-weight: bold;
  text-transform: uppercase; }
  .nypl-login-button .nypl-icon {
    background-color: #776e64;
    display: inline-block;
    fill: #fff;
    height: 1em;
    width: 1em;
    speak: none;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    position: absolute;
    right: 0.25em;
    top: 0.4em; }
    .nypl-login-button .nypl-icon.reversed {
      background-color: inherit;
      fill: #fff; }
  .nypl-login-button:hover, .nypl-login-button.active {
    border-color: #776e64;
    background-color: #fff;
    color: #776e64; }
    .nypl-login-button:hover .nypl-icon, .nypl-login-button.active .nypl-icon {
      background-color: #fff;
      display: inline-block;
      fill: #776e64;
      height: 1em;
      width: 1em;
      speak: none; }
      .nypl-login-button:hover .nypl-icon.reversed, .nypl-login-button.active .nypl-icon.reversed {
        background-color: inherit;
        fill: #fff; }
  .nypl-login-button.active .nypl-icon {
    transform: scaleY(-1); }
  .nypl-login-button:focus {
    -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
    -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
    box-shadow: inset 0 0 0 0.125rem #ffb81d;
    outline: none; }
  .nypl-login-button.disabled, .nypl-login-button[disabled="disabled"], .nypl-login-button[disabled], .nypl-login-button[disabled=true] {
    cursor: default;
    background-color: #d7d4d0; }
    .nypl-login-button.disabled:hover, .nypl-login-button[disabled="disabled"]:hover, .nypl-login-button[disabled]:hover, .nypl-login-button[disabled=true]:hover {
      background-color: #d7d4d0;
      color: #fff; }

.nypl-label {
  display: block;
  font-weight: bold;
  margin-left: 0.5rem; }

.nypl-fieldset {
  background-color: #efedeb;
  border: 0;
  margin: 1rem 0;
  padding: 0;
  position: relative; }
  .nypl-fieldset label {
    display: block;
    font-weight: bold;
    margin-left: 0.5rem; }
  .nypl-fieldset label {
    margin-left: 0.5rem; }

.nypl-input {
  background-color: #efedeb;
  border: 0;
  padding: 0; }

.nypl-textfield {
  background-color: #efedeb;
  border: 0;
  padding: 0;
  -webkit-box-shadow: inset 0 0 0 2px #efedeb;
  -moz-box-shadow: inset 0 0 0 2px #efedeb;
  box-shadow: inset 0 0 0 2px #efedeb;
  border-bottom: 0.0625rem solid #080807;
  height: 2rem;
  padding: 1.5rem 0 0;
  text-indent: 0.5rem;
  transition: all 0.2s ease-out;
  width: 100%; }
  .nypl-textfield.active {
    width: 16rem; }
  .nypl-textfield:focus {
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0 4px #ffb81d;
    -moz-box-shadow: inset 0 0 0 4px #ffb81d;
    box-shadow: inset 0 0 0 4px #ffb81d;
    color: #080807;
    outline: none; }

.nypl-textfield-with-label label {
  background-color: transparent;
  display: block;
  font-weight: bold;
  position: absolute; }
.nypl-textfield-with-label input[type=text] {
  background-color: #efedeb;
  border: 0;
  padding: 0;
  -webkit-box-shadow: inset 0 0 0 2px #efedeb;
  -moz-box-shadow: inset 0 0 0 2px #efedeb;
  box-shadow: inset 0 0 0 2px #efedeb;
  border-bottom: 0.0625rem solid #080807;
  height: 2rem;
  padding: 1.5rem 0 0;
  text-indent: 0.5rem;
  transition: all 0.2s ease-out;
  width: 100%; }
  .nypl-textfield-with-label input[type=text].active {
    width: 16rem; }
  .nypl-textfield-with-label input[type=text]:focus {
    background-color: #fff;
    -webkit-box-shadow: inset 0 0 0 4px #ffb81d;
    -moz-box-shadow: inset 0 0 0 4px #ffb81d;
    box-shadow: inset 0 0 0 4px #ffb81d;
    color: #080807;
    outline: none; }

.nypl-text-fieldset {
  background-color: #efedeb;
  border: 0;
  margin: 1rem 0;
  padding: 0;
  position: relative; }
  .nypl-text-fieldset label {
    display: block;
    font-weight: bold;
    margin-left: 0.5rem; }
  .nypl-text-fieldset label {
    margin-left: 0.5rem; }
  .nypl-text-fieldset label {
    background-color: transparent;
    display: block;
    font-weight: bold;
    position: absolute; }
  .nypl-text-fieldset input[type=text] {
    background-color: #efedeb;
    border: 0;
    padding: 0;
    -webkit-box-shadow: inset 0 0 0 2px #efedeb;
    -moz-box-shadow: inset 0 0 0 2px #efedeb;
    box-shadow: inset 0 0 0 2px #efedeb;
    border-bottom: 0.0625rem solid #080807;
    height: 2rem;
    padding: 1.5rem 0 0;
    text-indent: 0.5rem;
    transition: all 0.2s ease-out;
    width: 100%; }
    .nypl-text-fieldset input[type=text].active {
      width: 16rem; }
    .nypl-text-fieldset input[type=text]:focus {
      background-color: #fff;
      -webkit-box-shadow: inset 0 0 0 4px #ffb81d;
      -moz-box-shadow: inset 0 0 0 4px #ffb81d;
      box-shadow: inset 0 0 0 4px #ffb81d;
      color: #080807;
      outline: none; }

.nypl-select-field {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0NDQ0NDQ7fQo8L3N0eWxlPgo8dGl0bGU+YXJyb3dzPC90aXRsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxLjQsNC43IDIuNSwzLjIgMy41LDQuNyAiLz4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4KPC9zdmc+Cg==) no-repeat 99% #efedeb;
  border: 0;
  border-radius: 0;
  height: 2rem;
  padding-right: 7%;
  padding-left: 0.5rem;
  width: 100%; }

.nypl-select-fieldset {
  background-color: #efedeb;
  border: 0;
  margin: 1rem 0;
  padding: 0;
  position: relative; }
  .nypl-select-fieldset label {
    display: block;
    font-weight: bold;
    margin-left: 0.5rem; }
  .nypl-select-fieldset label {
    margin-left: 0.5rem; }
  .nypl-select-fieldset label {
    display: block;
    font-weight: bold;
    margin-left: 0.5rem; }
  .nypl-select-fieldset select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0NDQ0NDQ7fQo8L3N0eWxlPgo8dGl0bGU+YXJyb3dzPC90aXRsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxLjQsNC43IDIuNSwzLjIgMy41LDQuNyAiLz4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4KPC9zdmc+Cg==) no-repeat 99% #efedeb;
    border: 0;
    border-radius: 0;
    height: 2rem;
    padding-right: 7%;
    padding-left: 0.5rem;
    width: 100%; }

.nypl-simple-radiobutton span.nypl-label {
  display: block;
  font-weight: bold;
  margin-left: 0.5rem; }
.nypl-simple-radiobutton label {
  background-color: #efedeb;
  font-weight: normal;
  padding: 0.1875rem 0; }
.nypl-simple-radiobutton input[type=radio],
.nypl-simple-radiobutton input[type=checkbox] {
  height: initial;
  margin-right: 0.25rem; }

.nypl-radiobutton-fieldset {
  background-color: #efedeb;
  border: 0;
  margin: 1rem 0;
  padding: 0;
  position: relative; }
  .nypl-radiobutton-fieldset label {
    display: block;
    font-weight: bold;
    margin-left: 0.5rem; }
  .nypl-radiobutton-fieldset label {
    margin-left: 0.5rem; }
  .nypl-radiobutton-fieldset span.nypl-label {
    display: block;
    font-weight: bold;
    margin-left: 0.5rem; }
  .nypl-radiobutton-fieldset label {
    background-color: #efedeb;
    font-weight: normal;
    padding: 0.1875rem 0; }
  .nypl-radiobutton-fieldset input[type=radio],
  .nypl-radiobutton-fieldset input[type=checkbox] {
    height: initial;
    margin-right: 0.25rem; }

.nypl-omnisearch {
  background-color: #d7d4d0;
  border: 0;
  padding: 0.5rem; }
  .nypl-omnisearch button,
  .nypl-omnisearch .nypl-omni-fields,
  .nypl-omnisearch input {
    display: block;
    float: left;
    height: 2rem; }
  .nypl-omnisearch .nypl-omni-fields {
    margin: 0 1%;
    width: 20%; }
    .nypl-omnisearch .nypl-omni-fields label {
      position: absolute;
      width: 0.1rem;
      height: 0.1rem;
      margin: -0.1rem;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0; }
    .nypl-omnisearch .nypl-omni-fields select {
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIwLjAuMCwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxheWVyXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4IgoJIHZpZXdCb3g9IjAgMCA0LjkgMTAiIHN0eWxlPSJlbmFibGUtYmFja2dyb3VuZDpuZXcgMCAwIDQuOSAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiM0NDQ0NDQ7fQo8L3N0eWxlPgo8dGl0bGU+YXJyb3dzPC90aXRsZT4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIxLjQsNC43IDIuNSwzLjIgMy41LDQuNyAiLz4KPHBvbHlnb24gY2xhc3M9InN0MCIgcG9pbnRzPSIzLjUsNS4zIDIuNSw2LjggMS40LDUuMyAiLz4KPC9zdmc+Cg==) no-repeat 99% #efedeb;
      border: 0;
      border-radius: 0;
      height: 2rem;
      padding-right: 7%;
      padding-left: 0.5rem;
      width: 100%; }
  .nypl-omnisearch input[type=text] {
    background-color: #efedeb;
    border: 0;
    padding: 0;
    text-indent: 0.5rem;
    width: 58%; }
  .nypl-omnisearch button,
  .nypl-omnisearch input[type=button],
  .nypl-omnisearch input[type=submit] {
    background-color: #776e64;
    border: 0.0625rem solid #776e64;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    height: 2rem;
    padding: 0.2rem 0.75rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    line-height: 0;
    width: 20%; }
    .nypl-omnisearch button:hover, .nypl-omnisearch button.active,
    .nypl-omnisearch input[type=button]:hover,
    .nypl-omnisearch input[type=button].active,
    .nypl-omnisearch input[type=submit]:hover,
    .nypl-omnisearch input[type=submit].active {
      border-color: #776e64;
      background-color: #fff;
      color: #776e64; }
    .nypl-omnisearch button:focus,
    .nypl-omnisearch input[type=button]:focus,
    .nypl-omnisearch input[type=submit]:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    .nypl-omnisearch button.disabled, .nypl-omnisearch button[disabled="disabled"], .nypl-omnisearch button[disabled], .nypl-omnisearch button[disabled=true],
    .nypl-omnisearch input[type=button].disabled,
    .nypl-omnisearch input[type=button][disabled="disabled"],
    .nypl-omnisearch input[type=button][disabled],
    .nypl-omnisearch input[type=button][disabled=true],
    .nypl-omnisearch input[type=submit].disabled,
    .nypl-omnisearch input[type=submit][disabled="disabled"],
    .nypl-omnisearch input[type=submit][disabled],
    .nypl-omnisearch input[type=submit][disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      .nypl-omnisearch button.disabled:hover, .nypl-omnisearch button[disabled="disabled"]:hover, .nypl-omnisearch button[disabled]:hover, .nypl-omnisearch button[disabled=true]:hover,
      .nypl-omnisearch input[type=button].disabled:hover,
      .nypl-omnisearch input[type=button][disabled="disabled"]:hover,
      .nypl-omnisearch input[type=button][disabled]:hover,
      .nypl-omnisearch input[type=button][disabled=true]:hover,
      .nypl-omnisearch input[type=submit].disabled:hover,
      .nypl-omnisearch input[type=submit][disabled="disabled"]:hover,
      .nypl-omnisearch input[type=submit][disabled]:hover,
      .nypl-omnisearch input[type=submit][disabled=true]:hover {
        background-color: #d7d4d0;
        color: #fff; }
  @media (max-width: 965px) {
    .nypl-omnisearch .nypl-omni-fields {
      width: 30%; }
      .nypl-omnisearch .nypl-omni-fields select {
        padding-left: 0.125rem;
        padding-right: 20%; }
    .nypl-omnisearch input[type=text] {
      width: 48%; }
    .nypl-omnisearch button,
    .nypl-omnisearch input[type=button],
    .nypl-omnisearch input[type=submit] {
      padding: 0; } }

.nypl-searchable-fieldset {
  background-color: #efedeb;
  border: 0;
  margin: 1rem 0;
  padding: 0;
  position: relative; }
  .nypl-searchable-fieldset label {
    display: block;
    font-weight: bold;
    margin-left: 0.5rem; }
  .nypl-searchable-fieldset label {
    margin-left: 0.5rem; }
  .nypl-searchable-fieldset span.nypl-label {
    display: block;
    font-weight: bold;
    margin-left: 0.5rem; }
  .nypl-searchable-fieldset label {
    background-color: #efedeb;
    font-weight: normal;
    padding: 0.1875rem 0; }
  .nypl-searchable-fieldset input[type=radio],
  .nypl-searchable-fieldset input[type=checkbox] {
    height: initial;
    margin-right: 0.25rem; }
  .nypl-searchable-fieldset .nypl-facet-search label {
    background-color: transparent;
    display: block;
    font-weight: bold;
    position: absolute; }
  .nypl-searchable-fieldset .nypl-facet-search input[type=text] {
    background-color: #efedeb;
    border: 0;
    padding: 0;
    -webkit-box-shadow: inset 0 0 0 2px #efedeb;
    -moz-box-shadow: inset 0 0 0 2px #efedeb;
    box-shadow: inset 0 0 0 2px #efedeb;
    border-bottom: 0.0625rem solid #080807;
    height: 2rem;
    padding: 1.5rem 0 0;
    text-indent: 0.5rem;
    transition: all 0.2s ease-out;
    width: 100%; }
    .nypl-searchable-fieldset .nypl-facet-search input[type=text].active {
      width: 16rem; }
    .nypl-searchable-fieldset .nypl-facet-search input[type=text]:focus {
      background-color: #fff;
      -webkit-box-shadow: inset 0 0 0 4px #ffb81d;
      -moz-box-shadow: inset 0 0 0 4px #ffb81d;
      box-shadow: inset 0 0 0 4px #ffb81d;
      color: #080807;
      outline: none; }
  .nypl-searchable-fieldset .nypl-facet-list {
    display: table;
    width: 100%; }
    .nypl-searchable-fieldset .nypl-facet-list label {
      display: table-row; }
    .nypl-searchable-fieldset .nypl-facet-list span {
      display: table-cell;
      padding: 0 0.5rem; }
      .nypl-searchable-fieldset .nypl-facet-list span.nypl-facet-count {
        text-align: right; }
    .nypl-searchable-fieldset .nypl-facet-list .nypl-more-facets {
      display: inline-block;
      margin: 0.5rem; }

.nypl-checkbox-fieldset {
  background-color: #efedeb;
  border: 0;
  margin: 1rem 0;
  padding: 0;
  position: relative; }
  .nypl-checkbox-fieldset label {
    display: block;
    font-weight: bold;
    margin-left: 0.5rem; }
  .nypl-checkbox-fieldset label {
    margin-left: 0.5rem; }
  .nypl-checkbox-fieldset span.nypl-label {
    display: block;
    font-weight: bold;
    margin-left: 0.5rem; }
  .nypl-checkbox-fieldset label {
    background-color: #efedeb;
    font-weight: normal;
    padding: 0.1875rem 0; }
  .nypl-checkbox-fieldset input[type=radio],
  .nypl-checkbox-fieldset input[type=checkbox] {
    height: initial;
    margin-right: 0.25rem; }

.nypl-alphabetical-filter {
  background-color: #efedeb;
  border: 0;
  margin: 1rem 0;
  padding: 0;
  position: relative; }
  .nypl-alphabetical-filter label {
    display: block;
    font-weight: bold;
    margin-left: 0.5rem; }
  .nypl-alphabetical-filter label {
    margin-left: 0.5rem; }
  .nypl-alphabetical-filter button {
    background-color: #efedeb;
    border: 0 solid #776e64;
    border-radius: 0;
    color: #080807;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    height: auto;
    padding: 0.2rem 0.75rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    display: inline-block;
    font-weight: normal;
    margin: 0 0 0.5rem 0.5rem;
    padding: 0.2rem 0.25rem;
    width: 2rem; }
    .nypl-alphabetical-filter button:hover, .nypl-alphabetical-filter button.active {
      border-color: #776e64;
      background-color: #fff;
      color: #776e64; }
    .nypl-alphabetical-filter button:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    .nypl-alphabetical-filter button.disabled, .nypl-alphabetical-filter button[disabled="disabled"], .nypl-alphabetical-filter button[disabled], .nypl-alphabetical-filter button[disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      .nypl-alphabetical-filter button.disabled:hover, .nypl-alphabetical-filter button[disabled="disabled"]:hover, .nypl-alphabetical-filter button[disabled]:hover, .nypl-alphabetical-filter button[disabled=true]:hover {
        background-color: #d7d4d0;
        color: #080807; }
    .nypl-alphabetical-filter button.nypl-long {
      min-width: 4.75rem; }

.nypl-search-form {
  margin: 0 0 1rem; }

.nypl-screenreader-only {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  margin: -0.1rem;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0; }

.nypl-page-header {
  background-color: #d7d4d0;
  margin-bottom: 1rem; }
  .nypl-page-header h1 {
    margin: 0; }

.nypl-breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding-left: 0; }
  .nypl-breadcrumbs li {
    display: inline-block;
    margin-left: 0; }
    .nypl-breadcrumbs li::before {
      content: "> "; }
    .nypl-breadcrumbs li:first-child::before {
      content: ""; }

.nypl-full-width-wrapper {
  max-width: calc(81rem - (6rem));
  padding: 1rem 1rem 1rem 6rem;
  position: relative;
  margin: 0 auto; }
  .nypl-full-width-wrapper::before, .nypl-full-width-wrapper::after {
    content: "";
    display: table; }
  .nypl-full-width-wrapper::after {
    clear: both; }
  @media (max-width: 965px) {
    .nypl-full-width-wrapper {
      padding-left: 1rem; } }

.nypl-row {
  margin: 0 -0.5rem;
  min-height: 1rem; }
  .nypl-row::before, .nypl-row::after {
    content: "";
    display: table; }
  .nypl-row::after {
    clear: both; }

.nypl-column-type {
  float: left;
  margin-bottom: 1rem;
  min-height: 1rem;
  padding: 0 0.5rem;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .nypl-column-type::before, .nypl-column-type::after {
    content: "";
    display: table; }
  .nypl-column-type::after {
    clear: both; }
  @media (max-width: 965px) {
    .nypl-column-type {
      float: none;
      padding: 0;
      width: auto; } }

.nypl-column-full {
  float: none;
  margin-bottom: 1rem;
  min-height: 1rem;
  padding: 0 0.5rem;
  width: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .nypl-column-full::before, .nypl-column-full::after {
    content: "";
    display: table; }
  .nypl-column-full::after {
    clear: both; }
  @media (max-width: 965px) {
    .nypl-column-full {
      float: none;
      padding: 0;
      width: auto; } }

.nypl-column-half {
  float: left;
  margin-bottom: 1rem;
  min-height: 1rem;
  padding: 0 0.5rem;
  width: 50%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .nypl-column-half::before, .nypl-column-half::after {
    content: "";
    display: table; }
  .nypl-column-half::after {
    clear: both; }
  @media (max-width: 965px) {
    .nypl-column-half {
      float: none;
      padding: 0;
      width: auto; } }

.nypl-column-one-quarter {
  float: left;
  margin-bottom: 1rem;
  min-height: 1rem;
  padding: 0 0.5rem;
  width: 25%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .nypl-column-one-quarter::before, .nypl-column-one-quarter::after {
    content: "";
    display: table; }
  .nypl-column-one-quarter::after {
    clear: both; }
  @media (max-width: 965px) {
    .nypl-column-one-quarter {
      float: none;
      padding: 0;
      width: auto; } }

.nypl-column-one-third {
  float: left;
  margin-bottom: 1rem;
  min-height: 1rem;
  padding: 0 0.5rem;
  width: 33.33333%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .nypl-column-one-third::before, .nypl-column-one-third::after {
    content: "";
    display: table; }
  .nypl-column-one-third::after {
    clear: both; }
  @media (max-width: 965px) {
    .nypl-column-one-third {
      float: none;
      padding: 0;
      width: auto; } }

.nypl-column-two-thirds {
  float: left;
  margin-bottom: 1rem;
  min-height: 1rem;
  padding: 0 0.5rem;
  width: 66.66667%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .nypl-column-two-thirds::before, .nypl-column-two-thirds::after {
    content: "";
    display: table; }
  .nypl-column-two-thirds::after {
    clear: both; }
  @media (max-width: 965px) {
    .nypl-column-two-thirds {
      float: none;
      padding: 0;
      width: auto; } }

.nypl-column-three-quarters {
  float: left;
  margin-bottom: 1rem;
  min-height: 1rem;
  padding: 0 0.5rem;
  width: 75%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }
  .nypl-column-three-quarters::before, .nypl-column-three-quarters::after {
    content: "";
    display: table; }
  .nypl-column-three-quarters::after {
    clear: both; }
  @media (max-width: 965px) {
    .nypl-column-three-quarters {
      float: none;
      padding: 0;
      width: auto; } }

.nypl-column-offset-one {
  margin-left: 25%; }
  @media (max-width: 965px) {
    .nypl-column-offset-one {
      margin-left: 0; } }

.nypl-column-offset-two {
  margin-left: 50%; }
  @media (max-width: 965px) {
    .nypl-column-offset-two {
      margin-left: 0; } }

.nypl-column-offset-three {
  margin-left: 75%; }
  @media (max-width: 965px) {
    .nypl-column-offset-three {
      margin-left: 0; } }

.nypl-nypl-icon {
  background-color: #fff;
  display: inline-block;
  fill: #080807;
  height: 1em;
  width: 1em;
  speak: none; }
  .nypl-nypl-icon.reversed {
    background-color: inherit;
    fill: #fff; }

.nypl-banner-alert {
  background-color: #fee24a;
  padding: 0.8rem 0; }

.nypl-secondary-title {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 0; }

.nypl-location-info {
  border-left: 1rem solid #d7d4d0;
  padding-left: 1rem;
  margin-bottom: 2rem; }
  .nypl-location-info p {
    margin: 0;
    margin-bottom: 0.5em; }
  .nypl-location-info .nypl-room {
    font-weight: bold; }
  .nypl-location-info .nypl-access {
    color: #d0343a;
    font-weight: bold; }

.nypl-location-hours {
  border-collapse: collapse;
  display: table;
  position: relative;
  width: 100%;
  margin-bottom: 2rem; }
  .nypl-location-hours tr {
    border-bottom: 0.0625rem solid #d7d4d0;
    display: table-row; }
  .nypl-location-hours thead,
  .nypl-location-hours th {
    border-bottom: 0.0625rem solid #080807;
    font-weight: bold;
    text-align: left; }
  .nypl-location-hours th,
  .nypl-location-hours td {
    display: table-cell;
    overflow: hidden;
    padding: 0.125rem 0.25rem;
    text-overflow: ellipsis; }
  .nypl-location-hours td {
    border-bottom: 1px solid #d7d4d0;
    padding-bottom: 0.5rem;
    vertical-align: top; }
  .nypl-location-hours .nypl-current {
    background-color: #fff1a5; }
  @media (max-width: 965px) {
    .nypl-location-hours thead tr {
      display: none; }
    .nypl-location-hours tr {
      border: 0; }
    .nypl-location-hours td {
      display: block;
      position: relative;
      width: 100%; }
      .nypl-location-hours td::before {
        display: block;
        float: left;
        font-weight: bold;
        margin-bottom: 2rem;
        width: 40%; }
      .nypl-location-hours td:nth-of-type(1)::before {
        content: "Monday"; }
      .nypl-location-hours td:nth-of-type(2)::before {
        content: "Tuesday"; }
      .nypl-location-hours td:nth-of-type(3)::before {
        content: "Wednesday"; }
      .nypl-location-hours td:nth-of-type(4)::before {
        content: "Thursday"; }
      .nypl-location-hours td:nth-of-type(5)::before {
        content: "Friday"; }
      .nypl-location-hours td:nth-of-type(6)::before {
        content: "Saturday"; }
      .nypl-location-hours td:nth-of-type(7)::before {
        content: "Sunday"; } }

.nypl-related-links {
  border-top: 0.25rem solid #776e64;
  padding-top: 2rem; }

.nypl-toolkit-example {
  border: 0.0625rem solid #d7d4d0;
  padding: 3rem 1rem 0.5rem;
  position: relative; }
  .nypl-toolkit-example .nypl-example-text {
    border: 0.0625rem solid #d7d4d0;
    border-left: 0;
    border-top: 0;
    color: #776e64;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    left: 0;
    padding: 0.3em 1rem;
    position: absolute;
    text-transform: uppercase;
    top: 0; }

.nypl-toolkit-example-dark {
  border: 0.0625rem solid #d7d4d0;
  padding: 3rem 1rem 0.5rem;
  position: relative;
  background: #54514a; }
  .nypl-toolkit-example-dark .nypl-example-text {
    border: 0.0625rem solid #d7d4d0;
    border-left: 0;
    border-top: 0;
    color: #776e64;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    left: 0;
    padding: 0.3em 1rem;
    position: absolute;
    text-transform: uppercase;
    top: 0; }
  .nypl-toolkit-example-dark::before {
    background-color: #fff; }

.nypl-basic-table {
  border-collapse: collapse;
  display: table;
  position: relative;
  width: 100%; }
  .nypl-basic-table tr {
    border-bottom: 0.0625rem solid #d7d4d0;
    display: table-row; }
  .nypl-basic-table thead,
  .nypl-basic-table th {
    border-bottom: 0.0625rem solid #080807;
    font-weight: bold;
    text-align: left; }
  .nypl-basic-table th,
  .nypl-basic-table td {
    display: table-cell;
    overflow: hidden;
    padding: 0.125rem 0.25rem;
    text-overflow: ellipsis; }
  .nypl-basic-table td {
    border-bottom: 1px solid #d7d4d0;
    padding-bottom: 0.5rem;
    vertical-align: top; }

.nypl-results-summary {
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-top: 1rem; }
  .nypl-results-summary::before, .nypl-results-summary::after {
    content: "";
    display: table; }
  .nypl-results-summary::after {
    clear: both; }
  .nypl-results-summary .nypl-results-count {
    float: left;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem; }
  .nypl-results-summary .nypl-facet button {
    background-color: #fff;
    border: 0 solid #776e64;
    border-radius: 0;
    color: #776e64;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    height: 1em;
    padding: 0.2rem 0.75rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 0.5rem; }
    .nypl-results-summary .nypl-facet button:hover, .nypl-results-summary .nypl-facet button.active {
      border-color: #1b7fa7;
      background-color: #fff;
      color: #1b7fa7; }
    .nypl-results-summary .nypl-facet button:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    .nypl-results-summary .nypl-facet button.disabled, .nypl-results-summary .nypl-facet button[disabled="disabled"], .nypl-results-summary .nypl-facet button[disabled], .nypl-results-summary .nypl-facet button[disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      .nypl-results-summary .nypl-facet button.disabled:hover, .nypl-results-summary .nypl-facet button[disabled="disabled"]:hover, .nypl-results-summary .nypl-facet button[disabled]:hover, .nypl-results-summary .nypl-facet button[disabled=true]:hover {
        background-color: #d7d4d0;
        color: #776e64; }
    .nypl-results-summary .nypl-facet button span {
      position: absolute;
      width: 0.1rem;
      height: 0.1rem;
      margin: -0.1rem;
      padding: 0;
      overflow: hidden;
      clip: rect(0, 0, 0, 0);
      border: 0; }
    .nypl-results-summary .nypl-facet button::before {
      content: "×";
      display: inline-block;
      vertical-align: super; }
  .nypl-results-summary button {
    background-color: #776e64;
    border: 0.0625rem solid #776e64;
    border-radius: 0;
    color: #fff;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    height: 2em;
    padding: 0.2rem 0.75rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    clear: both;
    display: block;
    margin: 0.5rem 0 0; }
    .nypl-results-summary button:hover, .nypl-results-summary button.active {
      border-color: #776e64;
      background-color: #fff;
      color: #776e64; }
    .nypl-results-summary button:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    .nypl-results-summary button.disabled, .nypl-results-summary button[disabled="disabled"], .nypl-results-summary button[disabled], .nypl-results-summary button[disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      .nypl-results-summary button.disabled:hover, .nypl-results-summary button[disabled="disabled"]:hover, .nypl-results-summary button[disabled]:hover, .nypl-results-summary button[disabled=true]:hover {
        background-color: #d7d4d0;
        color: #fff; }

.nypl-results-pagination {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem; }
  .nypl-results-pagination::before, .nypl-results-pagination::after {
    content: "";
    display: table; }
  .nypl-results-pagination::after {
    clear: both; }
  .nypl-results-pagination .page-count,
  .nypl-results-pagination a {
    display: block;
    float: left;
    text-decoration: none;
    width: 30%; }
    .nypl-results-pagination .page-count::before, .nypl-results-pagination .page-count::after,
    .nypl-results-pagination a::before,
    .nypl-results-pagination a::after {
      content: "";
      display: table; }
    .nypl-results-pagination .page-count::after,
    .nypl-results-pagination a::after {
      clear: both; }
  .nypl-results-pagination .page-count {
    text-align: center;
    width: 40%; }
    @media (max-width: 965px) {
      .nypl-results-pagination .page-count {
        font-size: 1rem; } }
  .nypl-results-pagination a:last-child {
    float: right;
    text-align: right; }
  .nypl-results-pagination a:first-child svg {
    float: left; }
  .nypl-results-pagination a svg {
    background-color: #fff;
    display: inline-block;
    fill: #080807;
    height: 1em;
    width: 1em;
    speak: none;
    display: block;
    fill: #1b7fa7;
    float: right;
    height: 2em;
    width: 2em; }
    .nypl-results-pagination a svg.reversed {
      background-color: inherit;
      fill: #fff; }
  @media (max-width: 965px) {
    .nypl-results-pagination a {
      line-height: 1.3; }
      .nypl-results-pagination a:first-child svg {
        float: none; }
      .nypl-results-pagination a:last-child svg {
        margin-left: 100%; } }

.nypl-results-sorting-controls {
  border-bottom: 0.25rem solid #080807;
  margin-bottom: 1rem; }
  .nypl-results-sorting-controls::before, .nypl-results-sorting-controls::after {
    content: "";
    display: table; }
  .nypl-results-sorting-controls::after {
    clear: both; }

.nypl-results-sorter {
  display: inline-block;
  float: right;
  position: relative; }
  .nypl-results-sorter button {
    background-color: #fff;
    border: 0 solid #776e64;
    border-radius: 0;
    color: #080807;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    height: auto;
    padding: 0.25em 0.75rem;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: all 0.1s ease-in 0s;
    -moz-transition: all 0.1s ease-in 0s;
    -o-transition: all 0.1s ease-in 0s;
    transition: all 0.1s ease-in 0s;
    position: relative;
    padding-right: 1.5em;
    text-align: left; }
    .nypl-results-sorter button .nypl-icon {
      background-color: #fff;
      display: inline-block;
      fill: #080807;
      height: 1em;
      width: 1em;
      speak: none;
      -webkit-transition: all 0.1s ease-in 0s;
      -moz-transition: all 0.1s ease-in 0s;
      -o-transition: all 0.1s ease-in 0s;
      transition: all 0.1s ease-in 0s;
      position: absolute;
      right: 0.25em;
      top: 0.65em; }
      .nypl-results-sorter button .nypl-icon.reversed {
        background-color: inherit;
        fill: #fff; }
    .nypl-results-sorter button:hover, .nypl-results-sorter button.active {
      border-color: #776e64;
      background-color: #d7d4d0;
      color: #776e64; }
      .nypl-results-sorter button:hover .nypl-icon, .nypl-results-sorter button.active .nypl-icon {
        background-color: #d7d4d0;
        display: inline-block;
        fill: #776e64;
        height: 1em;
        width: 1em;
        speak: none; }
        .nypl-results-sorter button:hover .nypl-icon.reversed, .nypl-results-sorter button.active .nypl-icon.reversed {
          background-color: inherit;
          fill: #fff; }
    .nypl-results-sorter button.active .nypl-icon {
      transform: scaleY(-1); }
    .nypl-results-sorter button:focus {
      -webkit-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      -moz-box-shadow: inset 0 0 0 0.125rem #ffb81d;
      box-shadow: inset 0 0 0 0.125rem #ffb81d;
      outline: none; }
    .nypl-results-sorter button.disabled, .nypl-results-sorter button[disabled="disabled"], .nypl-results-sorter button[disabled], .nypl-results-sorter button[disabled=true] {
      cursor: default;
      background-color: #d7d4d0; }
      .nypl-results-sorter button.disabled:hover, .nypl-results-sorter button[disabled="disabled"]:hover, .nypl-results-sorter button[disabled]:hover, .nypl-results-sorter button[disabled=true]:hover {
        background-color: #d7d4d0;
        color: #080807; }
  .nypl-results-sorter ul {
    background-color: #efedeb;
    list-style: none;
    min-width: 11em;
    position: absolute;
    right: 0;
    z-index: 1; }
  .nypl-results-sorter li {
    margin-left: 0; }
  .nypl-results-sorter a {
    color: #080807;
    display: block;
    padding: 0.25em 0.5em 0.25em 1em;
    text-decoration: none; }
    .nypl-results-sorter a:hover {
      color: #080807;
      font-weight: bold; }

.nypl-results-item {
  list-style-type: none;
  margin-bottom: 2rem;
  margin-left: 0; }
  .nypl-results-item p {
    margin-bottom: 0.5rem; }

.nypl-results-item-formats {
  border-left: 0.5rem solid #d7d4d0;
  padding-left: 0.5rem; }
  .nypl-results-item-formats th:first-child,
  .nypl-results-item-formats td:first-child {
    width: 60%; }
  .nypl-results-item-formats th:last-child,
  .nypl-results-item-formats td:last-child {
    width: 40%; }

.nypl-views-table {
  display: table;
  border-collapse: collapse; }
  .nypl-views-table tr,
  .nypl-views-table .views-table-row {
    border-bottom: 1px solid #d7d4d0;
    display: table-row; }
  .nypl-views-table .views-table-row .views-table-header,
  .nypl-views-table thead,
  .nypl-views-table th {
    border-bottom: 1px solid #080807;
    text-align: left; }
  .nypl-views-table td,
  .nypl-views-table th,
  .nypl-views-table .views-table-header,
  .nypl-views-table .views-table-cell {
    display: table-cell; }
  .nypl-views-table th,
  .nypl-views-table .views-table-header {
    font-weight: bold; }
  .nypl-views-table .views-table-header.event-time {
    width: 20%; }
  .nypl-views-table .views-table-header.event-title {
    width: 40%; }
  .nypl-views-table .views-table-header.event-location {
    width: 20%; }
  .nypl-views-table .views-table-header.event-audience {
    width: 20%; }
  .nypl-views-table .views-table-header.resource-availability {
    width: 25%; }
  .nypl-views-table .views-table-header.resouce-description {
    width: 65%; }
  .nypl-views-table td,
  .nypl-views-table .views-table-cell {
    border-bottom: 1px solid #d7d4d0;
    padding: 0.5rem 0.5rem 3rem 0;
    vertical-align: top; }
  .nypl-views-table .channel-title {
    color: #d0343a;
    text-transform: uppercase; }
  .nypl-views-table .signup-method {
    color: #d0343a; }
  .nypl-views-table .resource-title {
    font-weight: bold; }
  @media (max-width: 965px) {
    .nypl-views-table.collapses thead,
    .nypl-views-table.collapses th,
    .nypl-views-table.collapses .views-table-header,
    .nypl-views-table.collapses .views-table-row:first-child {
      display: none; }
    .nypl-views-table.collapses td,
    .nypl-views-table.collapses .views-table-cell {
      display: block;
      float: left;
      margin: 0;
      padding: 1rem 0; }
    .nypl-views-table.collapses tr:first-child,
    .nypl-views-table.collapses .views-table-row:first-child {
      border-top: 1px solid #d7d4d0; }
    .nypl-views-table.collapses .event-time,
    .nypl-views-table.collapses .event-audience,
    .nypl-views-table.collapses .event-title {
      border: 0;
      display: block; }
    .nypl-views-table.collapses .event-time {
      width: 20%; }
    .nypl-views-table.collapses .event-title,
    .nypl-views-table.collapses .event-location,
    .nypl-views-table.collapses .event-audience {
      width: 30%; }
    .nypl-views-table.collapses .event-title {
      margin-right: 5%;
      width: 45%;
      max-height: 12rem;
      overflow: hidden;
      text-overflow: ellipsis; }
    .nypl-views-table.collapses .event-location {
      border-bottom: 0;
      font-weight: bold; }
    .nypl-views-table.collapses .event-audience::before {
      content: "For: "; }
    .nypl-views-table.collapses .resource-availability {
      width: 25%; }
    .nypl-views-table.collapses .resouce-description {
      width: 65%; } }

.views-table {
  display: table;
  border-collapse: collapse; }
  .views-table tr,
  .views-table .views-table-row {
    border-bottom: 1px solid #d7d4d0;
    display: table-row; }
  .views-table .views-table-row .views-table-header,
  .views-table thead,
  .views-table th {
    border-bottom: 1px solid #080807;
    text-align: left; }
  .views-table td,
  .views-table th,
  .views-table .views-table-header,
  .views-table .views-table-cell {
    display: table-cell; }
  .views-table th,
  .views-table .views-table-header {
    font-weight: bold; }
  .views-table .views-table-header.event-time {
    width: 20%; }
  .views-table .views-table-header.event-title {
    width: 40%; }
  .views-table .views-table-header.event-location {
    width: 20%; }
  .views-table .views-table-header.event-audience {
    width: 20%; }
  .views-table .views-table-header.resource-availability {
    width: 25%; }
  .views-table .views-table-header.resouce-description {
    width: 65%; }
  .views-table td,
  .views-table .views-table-cell {
    border-bottom: 1px solid #d7d4d0;
    padding: 0.5rem 0.5rem 3rem 0;
    vertical-align: top; }
  .views-table .channel-title {
    color: #d0343a;
    text-transform: uppercase; }
  .views-table .signup-method {
    color: #d0343a; }
  .views-table .resource-title {
    font-weight: bold; }
  @media (max-width: 965px) {
    .views-table.collapses thead,
    .views-table.collapses th,
    .views-table.collapses .views-table-header,
    .views-table.collapses .views-table-row:first-child {
      display: none; }
    .views-table.collapses td,
    .views-table.collapses .views-table-cell {
      display: block;
      float: left;
      margin: 0;
      padding: 1rem 0; }
    .views-table.collapses tr:first-child,
    .views-table.collapses .views-table-row:first-child {
      border-top: 1px solid #d7d4d0; }
    .views-table.collapses .event-time,
    .views-table.collapses .event-audience,
    .views-table.collapses .event-title {
      border: 0;
      display: block; }
    .views-table.collapses .event-time {
      width: 20%; }
    .views-table.collapses .event-title,
    .views-table.collapses .event-location,
    .views-table.collapses .event-audience {
      width: 30%; }
    .views-table.collapses .event-title {
      margin-right: 5%;
      width: 45%;
      max-height: 12rem;
      overflow: hidden;
      text-overflow: ellipsis; }
    .views-table.collapses .event-location {
      border-bottom: 0;
      font-weight: bold; }
    .views-table.collapses .event-audience::before {
      content: "For: "; }
    .views-table.collapses .resource-availability {
      width: 25%; }
    .views-table.collapses .resouce-description {
      width: 65%; } }

/*# sourceMappingURL=example-styles.css.map */
