@import "measurements";
@import "general-mixins";
@import "microformats";
@import "media-queries";

footer {
  background-color: $nypl-footer-color;
  color: $nypl-white;
  font-size: 0.9rem;
  margin-top: 5rem;
  // font-weight: bold;
  // @include Kievit-Bold;

  ul {
    list-style: none;
    margin: 1rem 0;
    padding: 0;
    @include clearfix;
  }
}

.copyright {
  background: url("../img/nypl-rev.svg") no-repeat scroll 0 0/#{$logo-width} auto transparent;
  border: 0;
  display: block;
  height: $logo-height;
  margin-top: 2rem;
  margin-bottom: 5rem;
  white-space: nowrap;

  p {
    padding-top: calc(#{$logo-height} + 1em);
  }
}

.footerLinks {

  li {
    margin-left: 0;
  }

  > li {
    float: left;
    width: 25%;

    @include media($mobile-breakpoint) {
      float: none;
      width: auto;
    }
  }
}
