@import "measurements";
@import "css3";
@import "general-mixins";
@import "microformats";
@import "media-queries";

@warn "remove magic numbers";

@mixin page-header {
  background-color: $page-color-light;
  margin-bottom: 1rem;

  h1 {
    margin: 0;
  }
}

@mixin breadcrumbs {
  list-style-type: none;
  margin: 0;
  padding-left: 0;

  li {
    display: inline-block;
    margin-left: 0;

    &::before {
      content: "> ";
    }

    &:first-child::before {
      content: "";
    }
  }
}

@mixin full-width-wrapper($in-header: false) {
  @if $in-header == false {
    max-width: calc(#{$max-width - $general-padding} - (#{$logo-width + $general-padding}));
    padding: $general-padding $general-padding $general-padding ($logo-width + $general-padding);
  } @else {
    max-width: calc(#{$max-width} - (#{$general-padding * 2}));
    padding: 0 $general-padding;
  }

  position: relative;
  margin: 0 auto;
  @include clearfix;

  @include media($mobile-breakpoint) {
    @if $in-header == false {
      padding-left: $general-padding;
    } @else {
      margin: 0;
    }
  }
}

@mixin row {
  margin: 0 -0.5rem;
  min-height: 1rem;
  @include clearfix;
}

@mixin column-type($float: left, $width: auto) {
  float: $float;
  margin-bottom: 1rem;
  min-height: 1rem;
  padding: 0 0.5rem;
  width: $width;
  @include clearfix;
  @include box-sizing(border-box);

  @include media($mobile-breakpoint) {
    float: none;
    padding: 0;
    width: auto;
  }
}

@mixin column-full {
  @include column-type($float: none);
}

@mixin column-half {
  @include column-type($width: $half);
}

@mixin column-one-quarter {
  @include column-type($width: $one-quarter);
}

@mixin column-one-third {
  @include column-type($width: $one-third);
}

@mixin column-two-thirds {
  @include column-type($width: $two-thirds);
}

@mixin column-three-quarters {
  @include column-type($width: $three-quarters);
}

@mixin column-offset($column-count) {
  margin-left: percentage($column-count / 4);

  @include media($mobile-breakpoint) {
    margin-left: 0;
  }
}

@mixin inner-block {
  @warn "deprecated. use row-column pattern instead.";
}
