@warn "remove magic numbers";

@mixin banner-alert() {
  background-color: $alert-color;
  padding: 0.8rem 0;
}

@mixin secondary-title {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
}

@mixin location-info {
  border-left: 1rem solid $nypl-light-gray;
  padding-left: 1rem;
  margin-bottom: 2rem;

  p {
    margin: 0;
    margin-bottom: 0.5em;
  }

  .nypl-room {
    font-weight: bold;
  }

  .nypl-access {
    color: $highlight-color;
    font-weight: bold;
  }
}

@mixin location-hours {
  @include basic-table;

  margin-bottom: 2rem;

  .nypl-current {
    background-color: $nypl-yellow-tint;
  }

  @include media($mobile-breakpoint) {
    thead tr {
      display: none;
    }

    tr {
      border: 0;
    }


    td {
      display: block;
      position: relative;
      width: 100%;

      &::before {
        display: block;
        float: left;
        font-weight: bold;
        margin-bottom: 2rem;
        width: 40%;
      }

      &:nth-of-type(1)::before {
        content: "Monday";
      }

      &:nth-of-type(2)::before {
        content: "Tuesday";
      }

      &:nth-of-type(3)::before {
        content: "Wednesday";
      }

      &:nth-of-type(4)::before {
        content: "Thursday";
      }

      &:nth-of-type(5)::before {
        content: "Friday";
      }

      &:nth-of-type(6)::before {
        content: "Saturday";
      }

      &:nth-of-type(7)::before {
        content: "Sunday";
      }
    }

  }
}

@warn "Move these mixins out of the microformats partial since they effect the entire style guide...";

@mixin related-links {
  border-top: $related-links-border-width solid $nypl-gray;
  padding-top: 2rem;
}

@mixin toolkit-example {
  border: $simple-border solid $nypl-light-gray;
  padding: ($general-padding * 3) $general-padding ($general-padding * 0.5);
  position: relative;

  .nypl-example-text {
    border: $simple-border solid $nypl-light-gray;
    border-left: 0;
    border-top: 0;
    color: $nypl-gray;
    display: inline-block;
    font-size: 1em;
    font-weight: normal;
    left: 0;
    padding: 0.3em $general-padding;
    position: absolute;
    text-transform: uppercase;
    top: 0;
  }
}

@mixin toolkit-example-dark {
  background: $nypl-footer-color;

  &::before {
    background-color: $inverted-link-color;
  }
}
