@import "normalize";
@import "css3";
@import "measurements";
@import "colors";
@import "typography";
@import "icons";
@import "forms";
@import "buttons";

@warn "remove magic numbers and convert to mixins?";

body {
  color: $page-text-color;
}

html {
  background-color: $page-background-color;
  font-family: $sans-serif-stack;
  font-size: $basefont;
  line-height: 1.65;

  @warn "hard-coded filter to make page grayscale. make mixin?";
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  -webkit-filter: none;
  filter: none;
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

h1 {
  font-size: 2.6rem;
  line-height: 1;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

p {
  margin-top: 0.25rem;
  margin-bottom: 1rem;
}

h4 {
  font-size: 1.2rem;
  font-weight: bold;
  line-height: 1.5;
  margin: 0;
}

ul {
  margin-bottom: 1.5rem;
  margin-top: 0;
  padding: 0;
}

li {
  margin-left: 1.5rem;
}

code,
pre {
  background-color: $nypl-light-gray;
  font-family: $monospace-stack;
}

code {
  padding-left: 0.25em;
  padding-right: 0.25em;
}

strong {
  font-weight: bold;
}

legend {
  display: table;
}

a {
  text-decoration: underline;

  &:link {
    color: $link-color;
  }

  &:visited {
    color: $link-visited-color;
  }

  &:hover,
  &:visited:hover {
    color: $link-hover-color;
    text-decoration: none;
  }

  &.inverted {
    &:link {
      color: $inverted-link-color;
    }

    &:visited {
      color: $inverted-link-visited-color;
    }

    &:hover,
    &:visited:hover {
      color: $inverted-link-color;
    }
  }
}

#skip a {
  background-color: $nypl-white;
  border: 0;
  color: $link-color;
  display: block;
  font-size: 13px;
  height: 1px;
  left: -10000px;
  line-height: 2;
  overflow: hidden;
  padding: 5px 10px 3px;
  position: absolute;
  top: 7px;
  width: 1px;
  z-index: 1000;

  &:focus {
    border: 5px solid $link-color;
    height: auto;
    left: 7px;
    outline: 0;
    overflow: visible;
    width: auto;
  }
}

.hidden {
  display: none;
}

.centered {
  text-align: center;
}
