@import "measurements";
@import "icons";
@import "general-mixins";
@import "microformats";
@import "media-queries";

@warn "refactor mixins and remove magic numbers";

@mixin basic-table {
  border-collapse: collapse;
  display: table;
  position: relative;
  width: 100%;

  tr {
    border-bottom: 0.0625rem solid $nypl-light-gray;
    display: table-row;
  }

  thead,
  th {
    border-bottom: 0.0625rem solid $page-color;
    font-weight: bold;
    text-align: left;
  }

  th,
  td {
    display: table-cell;
    overflow: hidden;
    padding: 0.125rem 0.25rem;
    text-overflow: ellipsis;
  }

  td {
    border-bottom: 1px solid $nypl-light-gray;
    padding-bottom: 0.5rem;
    vertical-align: top;
  }
}

@mixin results-summary {
  line-height: 1;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  @include clearfix;

  .nypl-results-count {
    float: left;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
  }

  .nypl-facet button {
    // the button inside a facet
    @include basic-button($text-color: $nypl-gray, $background-color: $page-background-color, $hover-text-color: $link-color, $hover-background-color: $page-background-color, $height: 1em, $border-width: 0);
    display: inline-block;
    margin: 0;
    padding: 0;
    position: relative;
    width: 0.5rem;

    span {
      @include screenreader-only;
    }

    &::before {
      content: "×";
      display: inline-block;
      vertical-align: super;
    }
  }

  button {
    // the reset button
    @include basic-button($height: 2em);
    clear: both;
    display: block;
    margin: 0.5rem 0 0;
  }
}

@mixin results-pagination {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  @include clearfix;

  .page-count,
  a {
    display: block;
    float: left;
    text-decoration: none;
    width: 30%;
    @include clearfix;
  }

  .page-count {
    text-align: center;
    width: 40%;

    @include media($mobile-breakpoint) {
      font-size: 1rem;
    }
  }

  a:last-child {
    float: right;
    text-align: right;
  }

  a:first-child svg {
    float: left;
  }

  a {
    svg {
      @include nypl-icon;
      display: block;
      fill: $link-color;
      float: right;
      height: 2em;
      width: 2em;
    }

    @include media($mobile-breakpoint) {
      line-height: 1.3;

      &:first-child svg {
        float: none;
      }

      &:last-child svg {
        margin-left: 100%;
      }
    }
  }
}

@mixin results-sorting-controls {
  border-bottom: 0.25rem solid $page-color;
  margin-bottom: 1rem;
  @include clearfix;
}

$sorter-width: 11em;

@mixin results-sorter {
  display: inline-block;
  float: right;
  position: relative;

  button {
    @include basic-button($collapsible: true, $border-width: 0, $background-color: $page-background-color, $text-color: $page-color, $hover-background-color: $page-color-light, $padding-vertical: 0.25em);
  }

  ul {
    background-color: $nypl-search-color-light;
    list-style: none;
    min-width: $sorter-width;
    position: absolute;
    right: 0;
    z-index: 1;
  }

  li {
    margin-left: 0;
  }

  a {
    color: $page-color;
    display: block;
    padding: 0.25em 0.5em 0.25em 1em;
    text-decoration: none;

    &:hover {
      color: $page-color;
      font-weight: bold;
    }
  }
}

@mixin results-item {
  list-style-type: none;
  margin-bottom: 2rem;
  margin-left: 0;

  p {
    margin-bottom: 0.5rem;
  }
}

@mixin results-item-formats {
  border-left: 0.5rem solid $nypl-light-gray;
  padding-left: 0.5rem;


  th:first-child,
  td:first-child {
    width: 60%;
  }

  th:last-child,
  td:last-child {
    width: 40%;
  }
}

@mixin views-table {
  @warn "this mixin is not used";

  display: table;
  border-collapse: collapse;

  tr,
  .views-table-row {
    border-bottom: 1px solid $nypl-light-gray;
    display: table-row;
  }

  .views-table-row .views-table-header,
  thead,
  th {
    border-bottom: 1px solid $page-color;
    text-align: left;
  }

  td,
  th,
  .views-table-header,
  .views-table-cell {
    display: table-cell;
  }

  th,
  .views-table-header {
    font-weight: bold;
  }

  .views-table-header.event-time {
    width: 20%;
  }

  .views-table-header.event-title {
    width: 40%;
  }

  .views-table-header.event-location {
    width: 20%;
  }

  .views-table-header.event-audience {
    width: 20%;
  }

  .views-table-header.resource-availability {
    width: 25%;
  }

  .views-table-header.resouce-description {
    width: 65%;
  }

  td,
  .views-table-cell {
    border-bottom: 1px solid $nypl-light-gray;
    padding: 0.5rem 0.5rem 3rem 0;
    vertical-align: top;
  }

  .channel-title {
    color: $highlight-color;
    text-transform: uppercase;
  }

  .signup-method {
    color: $highlight-color;
  }

  .resource-title {
    font-weight: bold;
  }

  &.collapses {
    @include media($mobile-breakpoint) {
      thead,
      th,
      .views-table-header,
      .views-table-row:first-child {
        display: none;
      }

      td,
      .views-table-cell {
        display: block;
        float: left;
        margin: 0;
        padding: 1rem 0;
      }

      tr:first-child,
      .views-table-row:first-child {
        border-top: 1px solid $nypl-light-gray;
      }

      .event-time,
      .event-audience,
      .event-title {
        border: 0;
        display: block;
      }

      .event-time {
        width: 20%;
      }

      .event-title,
      .event-location,
      .event-audience {
        width: 30%;
      }

      .event-title {
        margin-right: 5%;
        width: 45%;
        max-height: 12rem;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .event-location {
        border-bottom: 0;
        font-weight: bold;
      }

      .event-audience::before {
        content: "For: ";
      }

      .resource-availability {
        width: 25%;
      }

      .resouce-description {
        width: 65%;
      }
    }
  }

}
