@import "measurements";
@import "colors";
@import "typography";
@import "icons";
@import "general-mixins";
@import "forms";
@import "grid";
@import "header";
@import "tables-results";
@import "footer";

$blue: #00f;
$gray: #ccc;

code {
  padding: 0;
}

pre {
  border: $simple-border solid $nypl-light-gray;

}

.toolkit-svg-icon {
  border: 1px dotted $nypl-light-gray;
  margin-right: 1rem;
}
