// Hold screens
// Import everything w/ out changing the main toolkit imports
// a little redundant

@import "toolkit";

// Some simple design changes that may or may not need moving to the toolkit proper
body {
  // filter: grayscale(1);
  // -webkit-filter: grayscale(1);
}
.nypl-banner-alert {
  display: none;
}

.super-script {
  font-size: .75rem;
  left: -10px;
  position: relative;
  color: $nypl-dark-gray;
}

@mixin account-table() {

}

.account-basic-table {
  text-align: left;
  @include account-table;

  .nypl-searchable-fieldset {
    width: 25px;

    label {
      background: $nypl-light-gray;
      background: $nypl-white;
    }
  }

  @each $tag in tr {

      #{$tag}:focus {
      outline-color: $focus-color;
      outline-style: solid;
      outline-width: $focus-width;
    }
  }

  caption {
    font-weight: bold;
    }

  .status {
    display: block;

    div:first-child { //defualt
      background-color: $nypl-light-gray;
      padding-left: .5rem;
    }

    div:first-child.recieved {
      background-color: lighten($nypl-green, 20%);
      }

    div:first-child.queued {
      background-color: $nypl-yellow;
      }
    div:first-child.pending {
      background-color: $nypl-red-tint;
    }
  }
}
// List View
.sorter {
  button {
    display: block;
    margin-bottom: 10px;
    min-width: 100px;
  }
}

.holds-list {

  span {
    display: block;
    padding-left: 45px;
  }

  .status {
    display: block;
    }

    li {
      border-bottom: 2px solid $nypl-black;
      list-style-type: none;
      margin-bottom: 1rem;
      padding-bottom: 1rem;

      .nypl-searchable-fieldset {
        background: $nypl-white;
        margin-top: 0;
        width: 30%;
        margin-left: 35px;

        label {
        background: $nypl-white;
        }

        .nypl-facet-list span {
          width: 20px;
        }
      }

      .svgIcon {
        display: inline-block;
        position: relative;
        top: 10px
      }

      h3 {
        display: inline-block;
        margin-top: 0;
      }

    & .sent { //defualt
      //background-color: $nypl-light-gray;
      //padding-left: .5rem;
    }

    & .received {
      //background-color: lighten($nypl-green, 20%);
      }

    & .queued {
      //background-color: $nypl-yellow;
      }
    & .pending {
      //background-color: $nypl-red-tint;
    }
  }

}
  // Probably should create some mixins for interactive toolsets...
  .bulk-action {
    margin: 1rem 0;
    padding: 0 1rem;
    display: block;

    span {
      display: block;
    }

    // li {
    //   display: block;
    //   display: none;
    // }

    .location {
      display: inline-block;
      position: relative;
      top: 0.8125rem;
      top: 0.8125em;
      top: 25px;
      width: 250px;

      .nypl-select-fieldset,
      .nypl-select-fieldset select {
        background-color: $nypl-search-color-dark;
        color: $nypl-white;
      }
    }

    .selected-list li {
      padding: 0 0.5rem  0.5rem;
      list-style-type: circle;
    }
    .selected-list li:first-child {
      // background: lighten($nypl-blue-tint, 20%);
      // list-style-type: none;
      }
  }

  .visually-hidden {
      border: 0;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
  }
